<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.skbmir.arcc">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".RCActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:label="@string/title_activity_rc"
                android:parentActivityName=".MainMenu"
                android:theme="@style/FullscreenTheme">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.skbmir.arcc.MainMenu"/>
        </activity>
        <activity android:name=".GearControlActivity"
                  android:parentActivityName=".MainMenu">
        </activity>
        <activity
                android:name=".MainMenu"
                android:parentActivityName=".MainActivity">
        </activity>

        <service
                android:name=".NATSClient"
                android:exported="false">
        </service>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>